<!doctype html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
  <div class="container one-column">
    <div class="headband"></div>

    <div id="header" class="header">
      <div class="header-inner">
      {{ partial "header.html" . }}
      </div>
    </div>

    <div id="main" class="main">
      <div class="main-inner">
        <div id="content" class="content">
          <div id="posts" class="posts-expand">
            {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) }}
            {{ range $paginator.Pages }}
              {{ .Render "summary"}}
            {{ end }}
            {{ partial "pagination.html" . }}
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </div>

</body>
</html>
