<!doctype html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container one-column">
    <div class="headband"></div>

    <div id="header" class="header">
      <div class="header-inner">
        {{ partial "header.html" . }}
      </div>
    </div>

    <div class="tags">
      <div class="tag-row">
        <div class="tag-letter">Totally {{ len .Data.Terms }} tags</div>

        {{ $data := .Data }}
        {{ $p := "-" }}
        {{ $tags :=  .Data.Terms.Alphabetical }}
        {{ range $key, $value := $tags }}
          <a class="tag" href="/{{ $data.Plural }}/{{ $value.Name | urlize }}/" title="">{{ $value.Name }}</a>
        {{ end }}
      </div>
    </div>

    {{ partial "footer.html" . }}


  </div>

</body>
</html>
