  <h1 class="site-meta">
    <a href="{{ .Site.BaseURL }}" class="brand">
      <span class="logo">
        <i class="icon-logo"></i>
      </span>
      <span class="site-title">{{ .Site.Title }}</span>
    </a>
  </h1>

  <ul id="menu" class="menu">
  {{ range .Site.Menus.main }}
    <li class="menu-item menu-item-{{lower .Identifier }}">
      <a href="{{ .URL | safeURL }}" title="{{ .Name }}">
        <i class="menu-item-icon icon-{{lower .Identifier }}"></i>
        <br/>
        {{ .Name }}
        </a>
    </li>
  {{ end }}
  </ul>
