{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- macros::social() }}
    <link rel="shortcut icon" href="/favicon.ico">
    <link
      rel="stylesheet"
      href="https://unpkg.com/minireset.css@0.0.6/minireset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/firacode@2.0.0/distr/fira_code.css"
    />
    <link rel="stylesheet" href="{{ get_url(path="index.css") }}" />
    <link rel='alternate' type='application/rss+xml' href="{{ get_url(path="rss.xml")}}" />
  </head>
  <body>
  <script async="">
      function toggle() {
        let classList = document.querySelector('html').classList;
        if (classList.contains('dark-theme')) {
          classList.remove('dark-theme')
          classList.add('sepia-theme')
          localStorage.setItem('theme-mode', 'sepia')
        } else if (classList.contains('sepia-theme')) {
          classList.remove('sepia-theme')
          localStorage.removeItem('theme-mode')
        } else {
          classList.add('dark-theme')
          localStorage.setItem('theme-mode', 'dark')
        }
      }
      try {
        let mode = localStorage.getItem('theme-mode');
        if (mode) {
          document.querySelector('html').classList.add(`${mode}-theme`)
        }
      } catch (e) {}
    </script>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="logo" href="{{ config.base_url }}">
            <img src="{{ get_url(path="logo.png") }}" />
          </a>
        </div>
        <ul class="social">
          <li>
            <a href="https://github.com/{{ config.extra.github }}">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/github.svg") %} {{ icon | safe }}
            </a>
          </li>
          {%- if config.extra.twitter %}
          <li>
            <a href="https://twitter.com/{{ config.extra.twitter }}">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/twitter.svg") %} {{ icon | safe }}
            </a>
          </li>
          {%- endif %}
          <li>
            <a href="mailto:{{ config.extra.email }}">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/mail.svg") %} {{ icon | safe }}
            </a>
          </li>
          <li>
            <a href="{{ get_url(path="tags", trailing_slash=true) }}">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/tag.svg") %} {{ icon | safe }}
            </a>
          </li>
          <li>
            <a href="{{ get_url(path="rss.xml", trailing_slash=false)}}">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/rss.svg") %} {{ icon | safe }}
            </a>
          </li>
          <li>
            <button class="toggle">
              <span class="sun">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/sun.svg") %} {{ icon | safe }}
              </span>
              <span class="moon">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/moon.svg") %} {{ icon | safe }}
              </span>
              <span class="coffee">
              {% set icon = load_data(path="themes/" ~ config.theme ~
              "/static/icons/coffee.svg") %} {{ icon | safe }}
              </span>
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <h1 class="header-title">{% block header_title %}{{ config.title }}{% endblock header_title %}</h1>
        <div class="header-meta">
          <span class="header-meta-author">{{ config.extra.author }}</span>
          {% block header_date %}{% endblock header_date %}
        </div>
        {% block header_tags %}{% endblock header_tags %}
        {%- if not page %}
        <p class="header-meta-description">{{ config.description }}</p>
        {%- endif %}
      </div>
    </header>

    <main class="content container">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="footer">
      <div class="container">
        <div class="heart">
          Made with&nbsp;&nbsp;{% set icon = load_data(path="themes/" ~ config.theme ~ "/static/icons/heart-fill.svg") %} {{ icon | safe }}&nbsp;&nbsp; © Fangdun Cai  2019
        </div>
        <div class="power">
          Powered By <a href="https://www.getzola.org/">Zola</a> & <a href="https://zeit.co/">Zeit</a> & <a href="https://zeit.co/design">Design</a>
        </div>
      </div>
    </footer>

    <script>
      document.querySelector('button.toggle').onclick = toggle
    </script>
  </body>
</html>
