<!doctype html>
<html lang="zh">
<head>
{{ partial "head.html" . }}
</head>
<body>
  <div class="container one-column">

    <div id="header" class="header">
      <div class="header-inner">
      {{ partial "header.html" . }}
      </div>
    </div>

    <div id="main" class="main">
      <div class="main-inner">
        <div id="content" class="content">
          <div id="posts" class="posts-collapse">
            <h2 class="collection-title">{{ .Title }}</h2>
            {{ range .Data.Pages.ByDate }}
              {{ .Render "li"}}
            {{ end }}
            <div class="pagination">
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </div>

</body>
</html>
