body{background:#fdfdfd;font:normal 18px/25px Palatino,"Palatino Linotype",serif;text-rendering:optimizeLegibility}
h1,h2,h3,h4,h5,h6{font-family:'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;font-weight:normal}
a:visited{color:#222}
a:hover{color:#e50053;text-decoration:underline}
a{color:#222}
.x-page{width:618px;margin:0 auto 5em}
.x-main{margin-top:50px}
.x-listing{margin:0;padding:0;list-style-type:none;}
.x-listing li:nth-child(odd){margin-right:25px}
.x-listing li{float:left;width:284px;height:150px;margin:0;text-align:center;}
.x-listing li a{font:normal 23px/32px 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;color:#222;display:block}
.x-listing li a:hover{color:#e50053}
.x-post p{margin:0 0 25px}
.x-post-title{font-size:45px;line-height:50px;margin:25px 0}
code[class*="language-"],pre[class*="language-"]{font-family:Consolas,Menlo,"Courier New",monospace;font-size:16px;line-height:25px}
