body
  background: #fdfdfd
  font: normal 18px/25px Palatino, "Palatino Linotype", serif
  text-rendering: optimizeLegibility

h1, h2, h3, h4, h5, h6
  font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif
  font-weight: normal

a:visited
  color: #222222;
a:hover
  color: #e50053;
a
  color: #222222;
  text-decoration: none;

.gold-618
  width: 618px
  margin: 0 auto

.x-page
  margin-bottom: 5em

.x-header
  .colorsss 
    height: .25rem
    clear: both
  .pure-u-1-16 
    width: 6.25%
    display: inline-block
  .pure-menu a
    padding: 0

  .pure-menu > ul
    float: right
    padding-top: 3px

    a:focus
    a:hover
      background: none
    a
      text-transform: lowercase
      position: relative
      padding: 0 10px
    a:after
      position: absolute
      content: '-'
      color: #666
      padding: 0 4px
      right: -4px
    a:last-child:after
      display: none

.x-title
  float: left
  font-size: 23px
  line-height: 50px

.x-main
  margin-top: 50px

.x-listing
  margin: 0
  padding: 0
  list-style-type: none

  li:nth-child(odd)
    margin-right: 25px

  li
    float: left
    width: 284px
    height: 150px
    margin: 0
    text-align: center

    a
      font: normal 23px/32px 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif
      color: #222222
      display: block

    a:hover
      color: #e50053

.x-post p
  margin: 0 0 25px

.x-post-title
  font-size: 45px
  line-height: 50px
  margin: 25px 0

code[class*="language-"],
pre[class*="language-"]
  font-family: Consolas,Menlo,"Courier New",monospace
  font-size: 16px
  line-height: 25px
