$palette: (
  "mocha": (
    "rosewater": #f5e0dc,
    "flamingo": #f2cdcd,
    "pink": #f5c2e7,
    "mauve": #cba6f7,
    "red": #f38ba8,
    "maroon": #eba0ac,
    "peach": #fab387,
    "yellow": #f9e2af,
    "green": #a6e3a1,
    "teal": #94e2d5,
    "sky": #89dceb,
    "sapphire": #74c7ec,
    "blue": #89b4fa,
    "lavender": #b4befe,
    "text": #cdd6f4,
    "subtext1": #bac2de,
    "subtext0": #a6adc8,
    "overlay2": #9399b2,
    "overlay1": #7f849c,
    "overlay0": #6c7086,
    "surface2": #585b70,
    "surface1": #45475a,
    "surface0": #313244,
    "base": #1e1e2e,
    "mantle": #181825,
    "crust": #11111b,
  ),
  "macchiato": (
    "rosewater": #f4dbd6,
    "flamingo": #f0c6c6,
    "pink": #f5bde6,
    "mauve": #c6a0f6,
    "red": #ed8796,
    "maroon": #ee99a0,
    "peach": #f5a97f,
    "yellow": #eed49f,
    "green": #a6da95,
    "teal": #8bd5ca,
    "sky": #91d7e3,
    "sapphire": #7dc4e4,
    "blue": #8aadf4,
    "lavender": #b7bdf8,
    "text": #cad3f5,
    "subtext1": #b8c0e0,
    "subtext0": #a5adcb,
    "overlay2": #939ab7,
    "overlay1": #8087a2,
    "overlay0": #6e738d,
    "surface2": #5b6078,
    "surface1": #494d64,
    "surface0": #363a4f,
    "base": #24273a,
    "mantle": #1e2030,
    "crust": #181926,
  ),
  "frappe": (
    "rosewater": #f2d5cf,
    "flamingo": #eebebe,
    "pink": #f4b8e4,
    "mauve": #ca9ee6,
    "red": #e78284,
    "maroon": #ea999c,
    "peach": #ef9f76,
    "yellow": #e5c890,
    "green": #a6d189,
    "teal": #81c8be,
    "sky": #99d1db,
    "sapphire": #85c1dc,
    "blue": #8caaee,
    "lavender": #babbf1,
    "text": #c6d0f5,
    "subtext1": #b5bfe2,
    "subtext0": #a5adce,
    "overlay2": #949cbb,
    "overlay1": #838ba7,
    "overlay0": #737994,
    "surface2": #626880,
    "surface1": #51576d,
    "surface0": #414559,
    "base": #303446,
    "mantle": #292c3c,
    "crust": #232634,
  ),
  "latte": (
    "rosewater": #dc8a78,
    "flamingo": #dd7878,
    "pink": #ea76cb,
    "mauve": #8839ef,
    "red": #d20f39,
    "maroon": #e64553,
    "peach": #fe640b,
    "yellow": #df8e1d,
    "green": #40a02b,
    "teal": #179299,
    "sky": #04a5e5,
    "sapphire": #209fb5,
    "blue": #1e66f5,
    "lavender": #7287fd,
    "text": #4c4f69,
    "subtext1": #5c5f77,
    "subtext0": #6c6f85,
    "overlay2": #7c7f93,
    "overlay1": #8c8fa1,
    "overlay0": #9ca0b0,
    "surface2": #acb0be,
    "surface1": #bcc0cc,
    "surface0": #ccd0da,
    "crust": #dce0e8,
    "mantle": #e6e9ef,
    "base": #eff1f5,
  ),
);

:root {
  --geist-gap: 16pt;
  --geist-gap-negative: -16pt;
  --geist-gap-half: 8pt;
  --geist-gap-half-negative: -8pt;
  --geist-gap-quarter: 4pt;
  --geist-gap-quarter-negative: -4pt;
  --geist-gap-double: 32pt;
  --geist-gap-double-negative: -32pt;
  --geist-page-margin: 16pt;
  --geist-page-width: 750pt;
  --geist-page-width-with-margin: 782pt;
  --geist-breakpoint-mobile: 600px;
  --geist-breakpoint-tablet: 960px;
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --geist-cyan: #79ffe1;
  --geist-cyan-dark: #50e3c2;
  --geist-purple: #f81ce5;
  --geist-violet: #7928ca;
  --geist-alert: #ff0080;
  --geist-marketing-gray: #fafbfc;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: "Fira Code", Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.dark-theme .invert-theme,
:root {
  --geist-foreground: #000;
  --geist-background: #fff;
  --geist-selection: var(--geist-cyan);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0366d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c00;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #f49b0b;
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-code: var(--geist-purple);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.25;
}

.dark-theme,
.invert-theme {
  --geist-foreground: #fff;
  --geist-background: #000;
  --geist-selection: var(--geist-purple);
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999999;
  --accents-5: #888888;
  --accents-4: #666666;
  --accents-3: #444444;
  --accents-2: #333333;
  --accents-1: #111111;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0366d6;
  --geist-error-light: #ff3333;
  --geist-error: #ff0000;
  --geist-error-dark: #e60000;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #f49b0b;
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-marketing-gray: var(--accents-1);
  --geist-code: var(--geist-cyan);
  --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
  --dropdown-triangle-stroke: #333;
  --scroller-start: rgba(0, 0, 0, 1);
  --scroller-end: rgba(0, 0, 0, 0);
  --geist-link-color: var(--geist-foreground);
  --shadow-small: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);
  --shadow-hover: 0 0 0 1px var(--geist-foreground);
  --portal-opacity: 0.75;
}

.sepia-theme {
  --geist-foreground: #433422;
  --geist-background: #f1e7d0;
  --geist-success: #00835c;
  --accents-1: #f1e7d0;
  --accents-2: #ded0bf;
}

:root {
  --themed-fg: var(--geist-foreground);
}

::selection {
  background-color: #79ffe1;
  color: var(--geist-foreground);
}

:focus {
  outline: none;
}

html,
body {
  background-color: var(--geist-background);
  color: var(--geist-foreground);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

h2 {
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    span {
      display: block;
      color: var(--geist-foreground);
      font-size: 1.5rem;
      font-weight: bold;
      font-family: var(--font-sans);
      margin-top: 20px;
      margin-bottom: 0;
      text-align: left;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid var(--accents-2);

    img {
      height: 100%;
    }
  }

  .social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-left: 12px;
    }

    a {
      align-items: center;
      display: flex;
    }

    svg {
      color: var(--geist-foreground);
      width: 18px;
      height: 18px;
    }
  }

  .toggle {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;

    .sun {
      display: flex;
    }

    .moon {
      display: none;
    }

    .coffee {
      display: none;
    }
  }
}

.dark-theme {
  .toggle {
    .sun {
      display: none;
    }
    .moon {
      display: flex;
    }
    .coffee {
      display: none;
    }
  }
}

.sepia-theme {
  .toggle {
    .sun {
      display: none;
    }
    .moon {
      display: none;
    }
    .coffee {
      display: flex;
    }
  }
}

.header {
  border-bottom: 1px solid var(--accents-2);
  padding: 25px 0px 20px;
  transition: background 200ms ease 0s;
  text-align: center;
  min-height: 200px;

  &-title {
    color: var(--geist-foreground);
    font-weight: 600;
    font-size: 2.25rem;
    font-family: var(--font-sans);
    max-width: 900px;
    line-height: 46px;
    letter-spacing: -0.015em;
    margin: 0px auto 0.25em;
  }

  &-banner {
    border-radius: 0.25rem;
  }

  &-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25em auto;

    &-author {
      display: inline-flex;
      margin-left: 10px;
      color: var(--geist-foreground);
      font-weight: 500;
      font-size: 16px;
      font-family: var(--font-sans);
      text-align: left;
      white-space: nowrap;

      .avatar {
        flex-shrink: 0;
        border-radius: 100%;
        display: inline-block;
        overflow: hidden;
        border: 1px solid var(--accents-2);
        line-height: 0;
        vertical-align: top;
        background: var(--geist-background);
        width: 30px;
        height: 30px;
        transition: border 0.2s ease, background 0.2s ease;
      }

      .name {
        display: flex;
        flex-direction: column;
      }
    }

    &-date {
      font-size: 14px;
      color: var(--accents-5);
      font-family: var(--font-sans);
      &::before {
        content: "–";
      }
      &::before,
      &::after {
        // color: #9b9aa1;
        // color: rgb(234, 234, 234);
        color: var(--accents-2);
        display: inline;
        margin: 0 0.5rem;
      }
    }

    &-description {
      margin: 1rem auto;
    }

    &-tags {
      margin-left: 0.25rem;
      display: inline-block;
      font-size: 14px;
      color: var(--accents-5);
      font-family: var(--font-sans);
      text-align: right;

      li {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        color: var(--accents-6);
        display: inline-flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
          background-color: var(--accents-1);
          border: 1px solid var(--accents-2);
          border-radius: var(--geist-radius);
          display: block;
          font-size: 12px;
          line-height: 12px;
          overflow: hidden;
          padding: 6px;
          text-overflow: ellipsis;
          text-decoration: none;
          color: var(--geist-success);
        }
      }
    }
  }
}

.container {
  width: 1040px;
  max-width: 100%;
  // margin: 0px auto;
  margin: calc(var(--geist-gap) * 1) auto;
  padding: 0 calc(var(--geist-gap) * 1);
}

.post {
  border-bottom: 1px solid var(--accents-2);
  padding-bottom: 50px;
  // padding: 30px 0px 0px;
  transition: background 200ms ease 0s;

  &:not(:first-child) {
    margin-top: calc(var(--geist-gap) * 1.25);
  }

  &-title {
    margin: 15px 0px;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  &-date {
    font-size: 0.875rem;
    color: var(--accents-5);
    font-family: var(--font-sans);
  }

  &-teaser {
    word-break: break-word;
    margin: 15px 0px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }

  &-more {
    font-size: 0.8125rem;
    margin-right: 0.25rem;

    a {
      display: inline-block;
      letter-spacing: 0.04rem;
      font-weight: 500;
      color: var(--geist-success);
      text-transform: uppercase;
      margin: 10px 0px;
      text-decoration: none;
      transition: opacity 0.2s ease 0s;
    }
  }

  &-content {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--geist-foreground);

    p {
      margin: 15px 0;
      word-break: break-word;
    }

    pre {
      margin: 15px 0;
    }

    ul {
      list-style-type: none;

      > li::before {
        content: "–";
        display: inline-block;
        color: var(--accents-4);
        position: absolute;
        margin-left: -15px;
      }
    }

    ul,
    ol {
      padding: 0;
      margin: var(--geist-gap-half) var(--geist-gap-half) var(--geist-gap-half)
        var(--geist-gap);

      li {
        font-size: 1em;
        line-height: 1.625em;
        margin-bottom: 10px;
        color: var(--geist-foreground);
        word-break: break-word;
      }
    }

    h1 {
      font-family: var(--font-sans);
      color: inherit;
      line-height: 1.5;
      font-size: 3rem;
      letter-spacing: -0.066875rem;
      font-weight: 700;
      margin: var(--geist-gap-double) 0 0;
      // margin-top: 2rem;
      // margin-bottom: 2rem;
    }

    h2 {
      font-family: var(--font-sans);
      color: var(--themed-fg);
      line-height: 1.5;
      font-size: 2.25rem;
      letter-spacing: -0.049375rem;
      font-weight: 600;
      margin: var(--geist-gap-double) 0 0;
      // margin-top: 1.8675rem;
      // margin-bottom: 1.8675rem;
    }

    h3 {
      color: inherit;
      line-height: 1.5;
      font-size: 1.5rem;
      letter-spacing: -0.029375rem;
      font-weight: 600;
      margin: var(--geist-gap-double) 0 0;
      // margin-top: 1.5rem;
      // margin-bottom: 1.5rem;
    }

    h4 {
      font-family: var(--font-sans);
      color: inherit;
      line-height: 1.5;
      font-size: 1.25rem;
      letter-spacing: -0.020625rem;
      font-weight: 600;
      margin: var(--geist-gap-double) 0 0;
      // margin-top: 1.25rem;
      // margin-bottom: 1.25rem;
    }

    h5 {
      font-family: var(--font-sans);
      color: inherit;
      line-height: 1.5;
      font-size: 1rem;
      letter-spacing: -0.01125rem;
      font-weight: 600;
      margin: var(--geist-gap-double) 0 0;
      // margin-top: 1rem;
      // margin-bottom: 1rem;
    }

    h6 {
      font-family: var(--font-sans);
      color: inherit;
      line-height: 1.5;
      font-size: 0.875rem;
      letter-spacing: -0.005625rem;
      font-weight: 600;
      margin: var(--geist-gap-double) 0 0;
      // margin-top: 0.875rem;
      // margin-bottom: 0.875rem;
    }

    a {
      text-decoration: none;
      color: var(--geist-success);
      font-size: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    pre {
      padding: 0.5rem 0.75rem;
      border-radius: var(--geist-radius);
      border: 1px solid var(--accents-2);
      overflow-x: auto;
    }

    code {
      color: var(--geist-code);
      font-family: var(--font-mono);
      font-size: 0.9rem;
      white-space: pre-wrap;
    }

    code:before,
    code:after {
      content: "`";
    }

    pre > code {
      color: inherit;
      &:before,
      &:after {
        content: "";
      }
    }

    @supports (font-variation-settings: normal) {
      code,
      pre {
        font-family: var(--font-mono);
      }
    }
  }
}

.tags-list-heading {
  border-bottom: 1px solid var(--accents-2);
  font-family: var(--font-sans);
  color: var(--themed-fg);
  line-height: 1.5;
  font-size: 2rem;
  letter-spacing: -0.020625rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.57rem;
  margin-top: 4rem;
  padding-bottom: 0.125em;
}

@media (min-width: 860px) {
  .tags-list {
    column-count: 5;
  }
}

@media (min-width: 640px) {
  .tags-list {
    column-count: 3;
  }
}

.tags-list {
  column-count: 2;
}

.tags-list-link {
  cursor: pointer;
  color: var(--geist-link-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.footer {
  font-size: 0.875rem;
  color: var(--accents-5);
  font-family: var(--font-sans);
  line-height: 2;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(var(--geist-gap) * 1.5) auto;
  }

  .heart {
    display: flex;
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
      color: #fa4d77 !important;
    }
  }

  a {
    cursor: pointer;
    color: var(--geist-link-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

$color: map-get($palette, "latte");
pre[class*="language"] {
  // code {
  // color: #{map-get($color, "text")};
  // background: #{map-get($color, "mantle")};
  // }

  .z-keyword {
    color: #{map-get($color, "mauve")};
  }

  .z-keyword.z-operator {
    color: #{map-get($color, "mauve")};
  }

  // .field {
  //   color: #{map-get($color, "teal")};
  // }
  //
  // .property {
  //   color: #{map-get($color, "teal")};
  // }
  //
  // .include {
  //   color: #{map-get($color, "mauve")};
  // }
  //
  // .operator {
  //   color: #{map-get($color, "sky")};
  // }

  .z-float {
    color: #{map-get($color, "peach")};
  }

  .z-number {
    color: #{map-get($color, "peach")};
  }

  .z-boolean {
    color: #{map-get($color, "peach")};
  }

  .z-string {
    color: #{map-get($color, "green")};
  }
  //
  // .constructor {
  //   color: #{map-get($color, "sapphire")};
  // }
  //
  // .constant {
  //   color: #{map-get($color, "peach")};
  // }

  .z-control,
  .z-async {
    color: #{map-get($color, "mauve")};
  }

  .z-punctuation {
    color: #{map-get($color, "overlay2")};
  }
  //
  // .punctuation\.special {
  //   color: #{map-get($color, "sky")};
  // }

  .z-punctuation.z-separator {
    color: #{map-get($color, "mauve")};
  }

  .z-punctuation.z-group {
    color: #{map-get($color, "overlay2")};
  }

  .z-punctuation.z-block {
    color: #{map-get($color, "overlay2")};
  }

  .z-function {
    color: #{map-get($color, "blue")};
  }
  //
  // .function\.macro {
  //   color: #{map-get($color, "teal")};
  // }

  .z-type {
    color: #{map-get($color, "yellow")};
  }
  // .type\.builtin {
  //   color: #{map-get($color, "yellow")};
  // }
  //
  // .attribute {
  //   color: #{map-get($color, "teal")};
  //   font-style: italic;
  // }
  //
  // .variable {
  //   color: #{map-get($color, "text")};
  // }
  //
  // .variable\.builtin {
  //   color: #{map-get($color, "red")};
  // }
  //
  // .label {
  //   color: #{map-get($color, "sapphire")};
  // }

  .z-comment {
    color: #{map-get($color, "surface2")};
  }
}

.dark-theme {
  $color: map-get($palette, "macchiato");
  pre[class*="language"] {
    // code {
    // color: #{map-get($color, "text")};
    // background: #{map-get($color, "mantle")};
    // }

    .z-keyword {
      color: #{map-get($color, "mauve")};
    }

    .z-keyword.z-operator {
      color: #{map-get($color, "mauve")};
    }

    .z-function {
      color: #{map-get($color, "mauve")};
    }

    // .field {
    //   color: #{map-get($color, "teal")};
    // }
    //
    // .property {
    //   color: #{map-get($color, "teal")};
    // }
    //
    // .include {
    //   color: #{map-get($color, "mauve")};
    // }
    //
    // .operator {
    //   color: #{map-get($color, "sky")};
    // }

    .z-float {
      color: #{map-get($color, "peach")};
    }

    .z-number {
      color: #{map-get($color, "peach")};
    }

    .z-boolean {
      color: #{map-get($color, "peach")};
    }

    .z-string {
      color: #{map-get($color, "green")};
    }
    //
    // .constructor {
    //   color: #{map-get($color, "sapphire")};
    // }
    //
    // .constant {
    //   color: #{map-get($color, "peach")};
    // }

    .z-control,
    .z-async {
      color: #{map-get($color, "mauve")};
    }

    .z-punctuation {
      color: #{map-get($color, "overlay2")};
    }

    .z-punctuation.z-separator {
      color: #{map-get($color, "sky")};
    }

    .z-punctuation.z-group {
      color: #{map-get($color, "overlay2")};
    }

    .z-punctuation.z-block {
      color: #{map-get($color, "overlay2")};
    }

    .z-function {
      color: #{map-get($color, "blue")};
    }

    // .function\.macro {
    //   color: #{map-get($color, "teal")};
    // }

    .z-type {
      color: #{map-get($color, "yellow")};
    }
    // .type\.builtin {
    //   color: #{map-get($color, "yellow")};
    // }
    //
    // .attribute {
    //   color: #{map-get($color, "teal")};
    //   font-style: italic;
    // }
    //
    // .variable {
    //   color: #{map-get($color, "text")};
    // }
    //
    // .variable\.builtin {
    //   color: #{map-get($color, "red")};
    // }
    //
    .z-label {
      color: #{map-get($color, "sapphire")};
    }

    .z-comment {
      color: #{map-get($color, "surface2")};
    }
  }
}
