link(ref="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css")
link(ref="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css")
link(ref="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/colors/1.0/colors.min.css")
