<script src="/js/prism.js"></script>
{{ partial "analytics.html" . }}

<footer>
  <section id="universal-footer">
    <div class="wrap">
      <div class="footer-nav">
        <ul>
          <li class="title">
            Open Source
          </li>
          <li>
            <a href="https://github.com/trekjs">Trek.js</a>
          </li>
          <li>
            <a href="https://github.com/transwarpjs">Transwarp.js</a>
          </li>
          <li>
            <a href="https://github.com/atom-minimap">Atom Minimap</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>

<div id="copyright-footer" role="contentinfo">
  <strong>© 2015 {{ .Site.Params.fullname }}.</strong>
</div>

