header.x-header
  div.gold-618
    a.x-logo(href= site.url)
    h1.x-title
      a(href= site.url)= site.title
    h2.x-description= site.description

    div.pure-menu.pure-menu-open.pure-menu-horizontal
      a(href="#", class="pure-menu-heading")= site.title
      ul
        li
          a(href= site.baseUrl + 'blog') blog
        li
          a Feed

  div.pure-g.colorsss
    div.pure-u-1-16.bg-aqua
    div.pure-u-1-16.bg-blue
    div.pure-u-1-16.bg-navy
    div.pure-u-1-16.bg-teal
    div.pure-u-1-16.bg-green
    div.pure-u-1-16.bg-olive
    div.pure-u-1-16.bg-lime
    div.pure-u-1-16.bg-yellow
    div.pure-u-1-16.bg-orange
    div.pure-u-1-16.bg-red
    div.pure-u-1-16.bg-fuchsia
    div.pure-u-1-16.bg-purple
    div.pure-u-1-16.bg-maroon
    div.pure-u-1-16.bg-silver
    div.pure-u-1-16.bg-gray
    div.pure-u-1-16.bg-black
