---
layout: default
standalone: true
---

ol.x-listing
  each post in getCollection('all').models
    li
      a(href!= site.baseUrl + post.get('relativeOutPath'))= post.get('title')
      span.snip= post.get('description')
