html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent
}

html,body {
  font-size: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block
}

audio,canvas,video {
  display: inline-block
}

audio:not([controls]) {
  display: none
}

[hidden] {
  display: none
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

html,button,input,select,textarea {
  font-family: sans-serif
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

a:hover,a:active {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,strong {
  font-weight: bold
}

blockquote {
  margin: 1em 40px
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

pre,code,kbd,samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

blockquote,q {
  quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none
}

small {
  font-size: 75%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

nav ul,nav ol {
  list-style: none;
  list-style-image: none
}

ul,ol {
  list-style: none;
  list-style-image: none
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  border: 0;
  padding: 0;
  white-space: normal
}

button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline
}

button,input {
  line-height: normal
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button
}

button[disabled],input[disabled] {
  cursor: default
}

input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html {
  box-sizing: border-box
}

*,*::after,*::before {
  box-sizing: inherit
}

html {
  top: 0 !important
}

body {
  color: rgba(46,48,58,0.96);
  font-family: "freight-text-pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.9rem
}

h1,h2,h3,h4,h5,h6 {
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.9rem;
  margin: 0;
  text-rendering: optimizeLegibility
}

@media screen and (min-width: 40em) {
  h1,h2,h3,h4,h5,h6 {
    line-height:2.755rem
  }
}

h1 {
  font-size: 2.7rem
}

h2 {
  font-size: 2.4rem
}

h3 {
  font-size: 2.1rem
}

h4 {
  font-size: 1.8rem
}

h5 {
  font-size: 1.5rem
}

h6 {
  font-size: 1.2rem
}

p {
  margin: 0 0 1.71rem
}

a {
  color: #ad141e;
  text-decoration: none;
  transition: color 0.1s linear
}

a:hover {
  color: #680c12
}

a:active {
  color: #680c12;
  outline: none
}

a:focus {
  outline-color: #680c12;
  outline-offset: 2px
}

hr {
  border-bottom: 1px solid rgba(228,229,233,0.96);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.7rem auto;
  width: 80%
}

img,video {
  display: block;
  margin: 0;
  max-width: 100%
}

abbr,acronym {
  border-bottom: 1px dotted rgba(228,229,233,0.96);
  cursor: help
}

address {
  display: block;
  margin: 0 0 0.95rem
}

hgroup {
  margin-bottom: 0.95rem
}

del {
  color: rgba(80,83,101,0.96)
}

blockquote {
  border-left: 2px solid #ad141e;
  color: rgba(80,83,101,0.96);
  font-style: italic;
  margin: 1.9rem 0;
  padding-left: 0.95rem
}

blockquote em {
  font-style: normal;
  font-weight: 700
}

strong {
  font-weight: 700
}

em {
  font-style: italic
}

cite {
  color: rgba(102,107,129,0.96);
  display: block;
  font-style: italic;
  text-align: right
}

cite::before {
  content: "— ";
  margin-left: -1em
}

figure {
  border: 0;
  margin: 2.052rem 0;
  max-width: 100%
}

figcaption {
  color: rgba(80,83,101,0.96);
  font-size: 1.14rem;
  font-style: italic
}

sup {
  font-size: 85%;
  padding: 0 2px
}

fieldset {
  background: rgba(255,255,255,0.96);
  border: 1px solid rgba(228,229,233,0.96);
  margin: 0 0 0.95rem;
  padding: 1.9rem
}

input,label,select {
  font-size: 1.2rem
}

input::-webkit-input-placeholder,label::-webkit-input-placeholder,select::-webkit-input-placeholder {
  color: #737685;
  font-weight: 300
}

input::-moz-placeholder,label::-moz-placeholder,select::-moz-placeholder {
  color: #737685;
  font-weight: 300
}

input:-moz-placeholder,label:-moz-placeholder,select:-moz-placeholder {
  color: #737685;
  font-weight: 300
}

input:-ms-input-placeholder,label:-ms-input-placeholder,select:-ms-input-placeholder {
  color: #737685;
  font-weight: 300
}

label {
  font-weight: bold;
  margin-bottom: 0.475rem
}

label.required:after {
  content: "*"
}

label abbr {
  display: none
}

textarea,input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],input:not([type]),textarea,select[multiple=multiple] {
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid rgba(228,229,233,0.96);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  box-sizing: border-box;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.95rem;
  padding: 0.38rem 0.63333rem;
  transition: border-color;
  width: 100%
}

textarea:hover,input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="email"]:hover,input[type="month"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="time"]:hover,input[type="url"]:hover,input[type="week"]:hover,input:not([type]):hover,textarea:hover,select[multiple=multiple]:hover {
  border-color: rgba(199,201,211,0.96)
}

textarea:focus,input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="email"]:focus,input[type="month"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="time"]:focus,input[type="url"]:focus,input[type="week"]:focus,input:not([type]):focus,textarea:focus,select[multiple=multiple]:focus {
  border-color: #ad141e;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(150,17,26,0.7);
  outline: none
}

textarea {
  resize: vertical
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type="checkbox"],input[type="radio"] {
  display: inline;
  margin-right: 0.475rem
}

input[type="file"] {
  margin-bottom: 0.95rem;
  padding-bottom: 0.63333rem;
  width: 100%
}

input[type="submit"],.button {
  background: #ad141e;
  border-radius: 0.1875em;
  border: 1px solid #ad141e;
  color: #fff;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  padding: 0.3rem 0.5rem
}

input[type="submit"]:hover,.button:hover {
  background: #7f0f16
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.9rem
}

table {
  border-collapse: collapse;
  margin: 0.95rem 0;
  table-layout: fixed;
  width: 100%
}

th {
  border-bottom: 1px solid rgba(185,187,199,0.96);
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  padding: 0.95rem 0;
  text-align: left
}

td {
  border-bottom: 1px solid rgba(228,229,233,0.96);
  padding: 0.95rem 0
}

tr,td,th {
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  padding: 0.25rem
}

tr.not-applicable,td.not-applicable,th.not-applicable {
  background-color: #ddd
}

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0
}

dl {
  line-height: 1.9rem;
  margin: 0.95rem 0
}

dl dt {
  font-weight: bold;
  margin-top: 0.95rem
}

dl dd {
  margin: 0 0 0 1rem
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

p code {
  padding: 0
}

code {
  font-family: "courier-prime", monaco, monospace;
  font-size: 1.1rem;
  letter-spacing: -0.3px;
  padding: 0 3px;
  white-space: normal
}

:not(pre)>code {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 0.1875em;
  padding: 2px;
  white-space: nowrap
}

pre {
  -webkit-overflow-scrolling: touch;
  background: #f7f7f7;
  line-height: 1.35em;
  margin: 2.052rem 0;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal
}

pre code {
  border-radius: 3px;
  color: rgba(46,48,58,0.96);
  display: block;
  font-size: 0.9rem;
  outline: none;
  overflow-x: auto;
  padding: 0.8rem 1.1rem;
  white-space: inherit
}

h1 code,h2 code,h3 code,h4 code {
  background: none;
  outline: 0;
  font-size: 90%
}

pre .subst,pre .title {
  font-weight: normal;
  color: rgba(46,48,58,0.96)
}

pre .comment,pre .template_comment,pre .javadoc,pre .diff .header {
  color: #808080;
  font-style: italic
}

pre .annotation,pre .decorator,pre .preprocessor,pre .doctype,pre .pi,pre .chunk,pre .shebang,pre .apache .cbracket,pre .input_number {
  color: #808000
}

pre .tag .title,pre .id,pre .attr_selector,pre .pseudo,pre .literal,pre .keyword,pre .hexcolor,pre .css .function,pre .ini .title,pre .css .class,pre .list .title,pre .tex .command {
  color: #000080
}

pre .attribute,pre .rules .keyword,pre .number,pre .date,pre .regexp,pre .tex .special {
  color: #0000ff
}

pre .number,pre .regexp {
  font-weight: normal
}

pre .string,pre .value,pre .filter .argument,pre .css .function .params,pre .apache .tag {
  color: #008000
}

pre .symbol,pre .ruby .symbol .string,pre .ruby .symbol .keyword,pre .ruby .symbol .keymethods,pre .char,pre .tex .formula {
  color: #dc322f
}

pre .phpdoc,pre .yardoctag,pre .javadoctag {
  text-decoration: underline
}

pre .variable,pre .envvar,pre .apache .sqbracket,pre .nginx .built_in {
  color: #cb4b16
}

pre .addition {
  background: #baeeba
}

pre .deletion {
  background: #ffc8bd
}

pre .diff .change {
  background: #bccff9
}

.etc {
  margin: 4em 0;
  color: #737685;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
}

.etc input {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem
}

.etc fieldset {
  border: 0;
  margin: 0;
  padding: 0
}

.etc .offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.etc p {
  font-size: 0.9em
}

.etc p:last-child {
  margin-bottom: 0
}

.etc img {
  height: auto;
  width: 190px;
  margin-bottom: 0.855rem
}

.etc .newsletter-email-input {
  margin-right: 2%;
  width: 57%
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .etc .newsletter-email-input {
    margin-bottom:0.75rem;
    width: 100%
  }
}

.etc .newsletter-submit-button {
  width: 40%
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .etc .newsletter-submit-button {
    width:100%
  }
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .email-container {
    text-align:center
  }
}

.email-container [type=submit] {
  padding: 0.5rem
}

.email-container+.mini-post-list {
  margin-top: 0
}

.ad-book img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 12.56951%
}

.ad-book img:last-child {
  margin-right: 0
}

.ad-book p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%
}

.ad-book p:last-child {
  margin-right: 0
}

.ad-upcase a {
  color: #4a90e2
}

.ad-upcase a:hover {
  color: #65a1e6
}

.ad-formkeep a {
  color: #514a59
}

.ad-formkeep a:hover {
  color: #6b6572
}

.ad-hound a {
  color: #a873d1
}

.ad-hound a:hover {
  color: #b588d8
}

.author-box {
  display: block;
  border-bottom: 1px solid rgba(228,229,233,0.96);
  border-top: 1px solid rgba(228,229,233,0.96);
  font-style: italic;
  padding: 2.5rem 0;
  text-align: center
}

.author-box::after {
  clear: both;
  content: "";
  display: table
}

.author-box-avatar {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle
}

.author-box-avatar img {
  height: 80px;
  width: 80px;
  border-radius: 50%
}

.author-box-name {
  margin-right: 1rem;
  vertical-align: middle
}

@-webkit-keyframes open-comments {
  0% {
    left: 0
  }
}

@keyframes open-comments {
  0% {
    left: 0
  }
}

@-webkit-keyframes close-comments {
  0% {
    left: -150px
  }

  100% {
    left: 0
  }
}

@keyframes close-comments {
  0% {
    left: -150px
  }

  100% {
    left: 0
  }
}

.post-body.comments-hidden {
  -webkit-animation: close-comments 0.2s ease-in-out none;
  animation: close-comments 0.2s ease-in-out none
}

.post-body.commenting {
  -webkit-animation: open-comments 0.2s ease-in-out none;
  animation: open-comments 0.2s ease-in-out none
}

.carnival,.carnival-comment-form,.carnival-comments {
  display: block !important;
  opacity: 0;
  transition: opacity 0.2s ease-in
}

.commenting .carnival,.commenting .carnival-comment-form,.commenting .carnival-comments {
  opacity: 1
}

.carnival,.carnival-comments,.carnival-comment-indicator {
  display: none !important
}

@media screen and (min-width: 85.375em) {
  .carnival,.carnival-comments,.carnival-comment-indicator {
    display:block !important
  }
}

.carnival {
  top: 0
}

.carnival-comments,.carnival-comment-indicator {
  margin-top: 0.4rem !important
}

.carnival-comments {
  right: -110px !important;
  width: 220px !important
}

.carnival-comments li:first-child {
  margin-top: 0 !important
}

.carnival-comment-indicator {
  transition: opacity 0.1s ease-in !important
}

.carnival-comment-indicator svg path {
  transition: fill 0.1s ease-in !important
}

.carnival-comment-indicator:hover svg path,.carnival-comment-indicator.commenting svg path {
  transition: fill 0.1s ease-in !important;
  fill: #ad141e !important
}

.carnival-count {
  font-family: "courier-prime", monaco, monospace !important;
  font-size: 17px !important;
  font-weight: bold !important;
  line-height: 22px !important
}

.carnival-comment {
  margin-bottom: 1.71rem !important;
  padding-bottom: 0 !important
}

.carnival-comment p {
  margin-bottom: 0.855rem !important
}

.carnival-author,.carnival-comment p {
  font-family: "freight-text-pro", "Georgia", "Cambria", "Times New Roman", "Times", serif !important;
  font-size: 0.95rem !important;
  line-height: 1.4rem !important
}

.carnival-body {
  margin-top: 0.855rem !important
}

.carnival-comment-indicator,.commenting .carnival-comment-indicator {
  right: -40px !important
}

.carnival-author,.carnival-author span {
  line-height: 1 !important
}

.carnival-comment-form {
  line-height: 1 !important;
  padding-top: 0 !important
}

.carnival-comment-form .carnival-create,.carnival-comment-form form input[type="submit"] {
  background: #ad141e;
  border-radius: 3px;
  color: white;
  display: block;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 0.95rem !important;
  font-weight: bold;
  line-height: normal;
  padding: 0.4rem 0.6rem !important;
  text-align: center
}

.carnival-comment-form .carnival-create:hover,.carnival-comment-form form input[type="submit"]:hover {
  background: #680c12;
  box-shadow: none;
  color: white
}

.carnival-comment-form a.carnival-cancel {
  box-shadow: none;
  font-size: 0.8rem !important;
  line-height: 1.25rem
}

.carnival-comment-form a.carnival-cancel:hover {
  box-shadow: none;
  color: #ad141e !important;
  text-decoration: none
}

.carnival-comment-form form {
  border-top: 1px solid #f2f2f0 !important;
  padding-top: 20px !important;
  width: auto !important
}

.carnival-comment-form form textarea {
  color: rgba(46,48,58,0.96);
  font-family: "freight-text-pro", "Georgia", "Cambria", "Times New Roman", "Times", serif !important;
  font-size: 0.95rem !important
}

.carnival-comment-form form input[type="submit"] {
  display: inline-block !important;
  margin-top: 1.71rem !important
}

.carnival-comment-form .carnival-validation-error {
  color: #ad141e !important;
  font-size: 0.9rem !important;
  font-style: italic;
  margin: 1.2825rem 0;
  padding-top: 0 !important
}

#universal-footer {
  border-top: 1px solid rgba(228,229,233,0.96)
}

#universal-footer .wrap {
  padding: 0 1.875em;
  overflow: hidden
}

#universal-footer .footer-nav {
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
  width: 100%
}

#universal-footer .footer-nav ul {
  display: block;
  padding: 2rem 1.875em;
  vertical-align: text-top
}

#universal-footer .footer-nav ul li a {
  color: rgba(46,48,58,0.96)
}

#universal-footer .footer-nav ul li a:hover {
  color: #ad141e
}

#universal-footer .footer-nav ul .title {
  color: #737685;
  font-weight: bold;
  padding-bottom: 0.625em;
  text-transform: uppercase
}

@media screen and (min-width: 40em) {
  #universal-footer .wrap {
    padding:6.25em 0
  }

  #universal-footer .footer-nav ul {
    display: inline-block
  }
}

#copyright-footer {
  background-color: rgba(228,229,233,0.96);
  padding: 2.8125em 1.25em;
  text-align: center
}

#copyright-footer strong {
  display: block;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-transform: uppercase
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  #copyright-footer {
    font-size:0.875em
  }
}

.blog-header {
  margin: 4rem 0 0;
  text-align: center
}

.blog-header img {
  height: 80px;
  width: 80px;
  display: inline-block
}

.blog-header nav.main {
  border-color: rgba(245,245,247,0.984);
  margin-top: 3.42rem;
  text-align: center
}

.blog-header nav.main .logo {
  display: none
}

.blog-header nav.main .topic-nav {
  float: none;
  text-align: center
}

.blog-title {
  color: rgba(46,48,58,0.96);
  font: 700 2rem/1.2em "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 1rem auto 1.1rem;
  text-transform: none;
  width: 90%
}

@media screen and (min-width: 40em) {
  .blog-title {
    width:70%;
    font-size: 2.7rem;
    line-height: 1.4em
  }
}

.blog-author {
  color: #737685;
  font: 400 1.2rem/1em "freight-text-pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-style: italic;
  margin-top: 1rem
}

.blog-author a {
  text-decoration: none
}

.blog-author a:hover {
  padding-bottom: 5px;
  text-decoration: underline
}

.meta {
  color: rgba(91,95,115,0.96);
  padding-bottom: 3rem;
  text-align: center
}

.meta .comments {
  display: block
}

.meta-author {
  display: inline-block;
  font-style: italic;
  position: relative
}

.meta-author::before,.meta-author::after {
  color: #737685;
  display: inline;
  margin: 0 0.5rem
}

.meta-author::after {
  content: "–"
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .meta-author::before {
    margin:0
  }

  .meta-author::after {
    display: none
  }
}

.meta-date {
  color: #737685;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.1rem
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .meta-date {
    display:block
  }
}

.meta-tag-item {
  display: inline-block
}

.meta-tag-item::after {
  content: ",";
  display: inline-block;
  margin-left: -4px;
  margin-right: 4px
}

.meta-tag-item:last-of-type::after {
  display: none
}

.meta-tag-list {
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1;
  list-style: none;
  text-align: center;
  text-transform: uppercase
}

.mini-post-list,.mini-post .meta {
  text-align: left
}

.mini-post-list {
  border-top: 1px solid rgba(245,245,247,0.984);
  margin-top: 4rem;
  padding-top: 4rem
}

.mini-post {
  border-bottom: 1px solid rgba(245,245,247,0.984);
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  line-height: 1.9rem
}

.mini-post:last-of-type {
  margin-bottom: 0
}

.mini-post-link {
  color: rgba(46,48,58,0.96);
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
}

.mini-post-link:hover {
  color: #ad141e
}

.mini-post-teaser {
  color: #5c5e6a
}

.mini-post-title,.mini-post p {
  margin-bottom: 1.14rem
}

.mini-post-title {
  font-size: 1.5rem;
  line-height: 2.09rem
}

.mini-post .meta {
  padding-bottom: 0;
  width: auto
}

.mini-post .meta-tag-list {
  display: block
}

@media screen and (min-width: 40em) {
  .mini-post .meta-tag-list {
    display:inline-block;
    margin-left: 1.5rem
  }
}

nav.main {
  width: 100%
}

@media screen and (min-width: 40em) {
  nav.main {
    border-bottom:1px solid rgba(228,229,233,0.96);
    margin-bottom: 2rem;
    min-height: 80px;
    padding: 0 48px
  }
}

nav.main .logo {
  display: block;
  position: relative;
  margin: 1rem auto 0
}

@media screen and (min-width: 40em) {
  nav.main .logo {
    position:absolute;
    top: 0.9375em;
    display: block
  }
}

.logo {
  height: 56px;
  width: 56px;
  background-size: 100%;
  display: inline-block;
  opacity: 1;
  transition: all 0.1s linear
}

@media screen and (min-width: 40em) {
  .logo {
    height:86px;
    width: 85px
  }
}

.logo img {
  display: inline-block;
  text-align: center
}

.topic-nav {
  margin-top: 1.45rem;
  text-align: center
}

@media screen and (min-width: 40em) {
  .topic-nav {
    float:right;
    padding: 0 1.71rem;
    text-align: left
  }
}

.topic-nav-item {
  display: inline-block
}

.topic-nav-item:not(:first-of-type) {
  margin-left: 0.5em
}

@media screen and (min-width: 350px) {
  .topic-nav-item:not(:first-of-type) {
    margin-left:1.71rem
  }
}

.topic-nav-item a {
  color: #737685
}

.topic-nav-item a:focus,.topic-nav-item a:hover {
  color: #ad141e
}

body {
  background-color: #fff;
  margin: 0
}

iframe#tumblr_controls {
  display: none
}

.container {
  max-width: 37.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.75rem
}

.container::after {
  clear: both;
  content: "";
  display: table
}

@media screen and (min-width: 85.375em) {
  .container {
    padding:0
  }
}

h1.title a {
  color: rgba(46,48,58,0.96);
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
}

h1.title a:hover {
  color: #ad141e
}

.post {
  margin-top: 2rem;
  padding: 0 0 3rem
}

@media screen and (min-width: 40em) {
  .post {
    margin-top:4rem
  }
}

.post h1.title {
  font-size: 1.7rem;
  margin: 0 0 1rem;
  text-align: center
}

.post h1.title a {
  color: rgba(46,48,58,0.96);
  text-decoration: none
}

@media screen and (min-width: 40em) {
  .post h1.title {
    font-size:2.6rem;
    line-height: 3.42rem;
    margin-bottom: 2rem
  }
}

.post-header .author-avatar {
  display: none
}

.post-body {
  border-top: 1px solid rgba(228,229,233,0.96);
  padding-top: 3rem;
  position: relative
}

.post-body h2,.post-body h3,.post-body h4,.post-body h5 {
  margin: 2.565rem 0 1.71rem
}

.post-body h2+img,.post-body h3+img,.post-body h4+img,.post-body h5+img {
  margin-top: 0 !important
}

.post-body h2+p,.post-body h3+p,.post-body h4+p,.post-body h5+p {
  margin-top: 0
}

.post-body h2 {
  font-size: 1.56rem
}

.post-body h3 {
  font-size: 1.32rem
}

.post-body h4 {
  font-size: 1.1186rem;
}

.post-body h5 {
  font-size: 1rem;
}

.post-body p:first-of-type {
  margin-top: 0
}

.post-body ul,.post-body ol {
  margin-bottom: 1.71rem
}

.post-body ol {
  list-style-type: decimal;
  margin-left: 1.3rem
}

.post-body ul {
  list-style-type: disc;
  margin-left: 1.1rem
}

.post-body li {
  margin-bottom: 0.57rem
}

.post-body li>ul,.post-body li>ol {
  margin-top: 0.57rem
}

.post-body img,.post-body video {
  margin: 0.85rem auto
}

.post-body a {
  box-shadow: 0 1px 0 0 rgba(173,20,30,0.1)
}

.post-body a:hover {
  box-shadow: 0 2px 0 0 rgba(173,20,30,0.6);
  color: #ad141e
}

@media screen and (min-width: 40em) {
  .post-body h2 {
    font-size:1.98rem
  }

  .post-body h3 {
    font-size: 1.68rem
  }

  .post-body h4 {
    font-size: 1.38rem
  }
}

.video-container {
  height: 0;
  margin: 1.7rem 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative
}

.video-container iframe,.video-container object,.video-container embed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%
}

iframe {
  max-width: 100%
}

ol.footnotes {
  font-size: 0.8rem;
  line-height: 1.5rem
}

ol.footnotes li {
  margin-top: 0.85rem
}

.tags {
  margin-top: 5.13rem
}

.tags .tag-row {
  margin-bottom: 3.42rem;
  width: 100%
}

.tags .tag-letter {
  border-bottom: 1px solid rgba(228,229,233,0.96);
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.855rem;
  padding-bottom: 0.855rem;
  text-transform: uppercase
}

.tags .tag {
  color: #ad141e;
  display: inline-block;
  font-size: 1.1rem;
  margin-right: 1.71rem
}

.tags .tag:hover {
  cursor: pointer
}

.page-not-found {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .page-not-found {
    width:90%
  }

  .page-not-found .container {
    margin-top: 1rem
  }
}

.page-not-found a {
  cursor: pointer
}

.page-not-found .logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 110px;
  width: 110px;
  margin-bottom: 1.71rem
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .page-not-found .logo {
    height:80px;
    width: 80px
  }
}

.page-not-found h2 {
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 2.28rem;
  margin-bottom: 1.9rem;
  width: 100%
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .page-not-found h2 {
    font-size:2rem
  }
}

.page-not-found .button:hover {
  color: #fff
}

.page-not-found p {
  line-height: 1.9rem;
  margin-bottom: 1.9rem
}

.page-not-found .explore-other-posts {
  margin-top: 0
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .page-not-found .explore-other-posts span {
    display:block;
    margin-top: 0.5rem
  }

  .page-not-found .explore-other-posts .separator {
    padding: 0
  }
}

.page-not-found .explore-other-posts span {
  display: inline
}

.page-not-found .explore-other-posts .separator {
  padding: 0 10px
}

.share-post-list {
  position: fixed;
  top: 40%;
  left: 0;
  margin-left: 10px;
  -webkit-transform: translate3d(-58px, 0, 0);
  transform: translate3d(-58px, 0, 0);
  transition: all 0.2s ease-in;
  z-index: 10
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .share-post-list {
    display:none
  }
}

.share-network-item {
  margin-bottom: 0.57rem
}

.share-network-item img {
  display: inline-block;
  height: 2.1em;
  vertical-align: middle
}

.share-network-item:last-child {
  margin-bottom: 0
}

.social-share-network {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid rgba(228,229,233,0.96);
  display: inline-block;
  text-align: center;
  transition: background-color 0.25s ease-in
}

.social-share-network:hover {
  background-color: rgba(233,234,238,0.96)
}

@media screen and (min-width: 18.75em) and (max-width: 40em) {
  .social-share-network {
    background-color:rgba(228,229,233,0.96)
  }
}

.share-show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

#image-upload {
  border: 1px dashed #333;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: 100%
}

#image-upload>p {
  margin-bottom: 0
}

#image-upload .filepicker-results {
  cursor: auto;
  display: none;
  padding-top: 1rem;
  text-align: left
}

#image-upload .filepicker-results li {
  font-size: 16px
}

#image-upload .filepicker-results pre {
  background-color: #fffbcc;
  margin: 0.57rem 0;
  word-wrap: break-word
}

