!!!
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= getPreparedTitle()
    meta(name="description", content= getPreparedDescription())
    meta(name="keywords", content= getPreparedKeywords())
    meta(name="author", content= site.author || '')
    != partial('head.html.jade')

  body
    div.pure-g
      div.pure-u
        section!= content
