<!doctype html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
  <div class="container one-column">

    {{ partial "header.html" . }}

    <div id="main" class="main">
      <div class="main-inner">
        <div id="content" class="content">
          <div id="posts" class="posts-expand">
            {{ range .Data.Pages.ByDate }}
              {{ .Render "summary"}}
            {{ end }}
            <div class="pagination">
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </div>

</body>
</html>
