<article class="post text" data-url="{{ .Permalink }}" role="main">
  <header>
    <h1 class="title">{{ .Title }}</h1>
    <div class="meta">
      <div class="meta-author">
        <a href="https://twitter.com/{{ .Site.Params.twitter }}">{{ .Site.Params.fullname }}</a>
      </div>
      <time class="meta-date" datetime="{{ .Date }}">
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
      <ul class="meta-tag-list">
        {{ range .Params.tags }}
        <li class="meta-tag-item">
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </header>
  <div class="post-body" style="position: relative;">
    {{ .Content }}
  </div>
</article>
